:root {}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

.container {};

.flexContainer {};

.item{};

.table {};

.btn {};

.text-center {};

.text-end {};
/* //aspecto carrito desplegable// */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
/* //cierre carrito// */
.close {
    float: right;
    cursor: pointer;
}
/* 768 */
@media screen and (min-width: 768px) {};

/* 992 */
@media screen and (min-width: 992px) {};

/* 1200 */
@media screen and (min-width: 1200px) {};